fastapi
uvicorn
sqlalchemy
psycopg2-binary
python-dotenv
openpyxl
python-multipart
pydantic
python-jose[cryptography]
PyJWT
cryptography
httpx
supabase
requests
fastembed
pgvector
sentence-transformers
pdfplumber
google-generativeai
google-auth-oauthlib
